.App-header{
	text-align: center;
	background: peru;
	color: whitesmoke;
	height: 10vh;
	font-size: 3.5em;
}

.main-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding: 20px;
}



