.App-header{
	text-align: center;
	background: peru;
	color: whitesmoke;
	height: 8vh;
	font-size: 3.5em;
}

body {
	background: #FAF6E9;
}

.main-box {
	display: flex;
	flex-direction: wrap;
	justify-content: space-around;
	align-items: flex-start;
	padding: 20px;
}



