.App-header{
	text-align: center;
	background: peru;
	color: whitesmoke;
}


.main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;

}

